#musicPlayer{
    display: flex;
    background: linear-gradient(#E9A431, #D83C2D);
    width: 400px;
    height: auto;
}

.boton{
    width: 50px;
    height: auto;
    border-radius: 10px;
    border: none;
    
}

.visible{
    display: block;
}
.oculto{
    display: none;
}
