div#musicPlayer{
    display: flex;
    background: linear-gradient(#E9A431, #D83C2D);
    width: 600px;
    height: auto;
    border-radius: 10px;
    flex-flow: column;
}

div#controles{
    display: flex;
    flex-flow: row nowrap;
    margin-left: 20px;
    justify-content: space-between;
}

div#agrupacion{
    display: flex;
    flex-flow: row nowrap;
}

div#controles > button#fullscreen{
    margin-left: auto;
    margin-right: 20px;
}

#video{
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 10px;
}

input#progress{
    margin: 10px 20px;
    flex: 10%;
}

.boton{
    border: none;
    margin: 10px 0;
    background: none;
    cursor: pointer;
}

span{
    padding-top: 14px;
}

.visible{
    display: block;
}
.oculto{
    display: none;
}