*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: lightblue;
    overflow-y: scroll;
    overflow-x: hidden;
}

div#contenedor {
    width: 100%;
    height: 100%;
    padding: 1rem;
}

a{
    text-decoration: none;
    color: white;
}

input#hamburguer {
    display: none;
}

label {
    display: inline-block;
    position: relative;
    width: 3rem;
    height: 3rem;
    background-color: rgb(46, 46, 46);
    cursor: pointer;
    border-radius: 5px;
    left: 0px;
    transition: left 1s ease;
}

label>span.hamburguer-line {
    position: absolute;
    top: 1.35rem;
    left: 0.5rem;
    width: 2rem;
    height: 0.25rem;
    background: white;
    transition: background 0s .25s;
}

label>span.hamburguer-line:nth-child(1) {
    top: 0.5rem;
    /*transition-property: top, transform;
         transition-delay: .25s, 0s;
         transition-duration: .25s, .25s;*/
    transition: top .25s ease .25s, transform .25s ease 0s;
    /*para la vuelta*/
}

label>span.hamburguer-line:nth-child(3) {
    top: 2.2rem;
    /*transition-property: top, transform;
         transition-delay: .25s, 0s;
         transition-duration: .25s, .25s;*/
    transition: top .25s ease .25s, transform .25s ease 0s;
    /*para la vuelta*/
    /*primero deshacen el giro y luego vuelven a su posición original*/
}

input#hamburguer:checked~ label >span.hamburguer-line:nth-child(1) {
    top: 1.35rem;
    /*primero se desplaza hacia el centro*/
    transform: rotate(45deg);
    /*después rota 45º*/
    transition-delay: 0s, .25s;
    /*primero se desplazan y luego giran*/
}

input#hamburguer:checked~ label >span.hamburguer-line:nth-child(3) {
    top: 1.35rem;
    /*primero se desplaza hacia el centro*/
    transform: rotate(-45deg);
    /*después rota 45º*/
    transition-delay: 0s, .25s;
    /*primero se desplazan y luego giran*/
}

input#hamburguer:checked ~ label > span.hamburguer-line:nth-child(2) {
    background: none;
    /*La línea central pierde el color de fondo*/
}

input#hamburguer:checked ~ label.menu-toogle{
    left: 200px;
    transition: left 1s ease;
}

input#hamburguer:checked ~ nav.main-menu{
    left: 0;
    transition: left 1s ease;
}

input#hamburguer:checked ~ main.main-container{
    margin-left: 200px;
    transition: margin-left 1s ease;
}

nav.main-menu{
    display: flex;
    flex-flow: column;
    width: 200px;
    height: 100%;
    background-color: rgb(46, 46, 46);
    position: absolute;
    top: 0;
    left: -200px;
    text-align: center;
    padding: 2rem 0.5rem;
    left: -200px;
    transition: left 1s ease;
}

nav.main-menu > a.item-menu{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 0.5rem;
}

main.main-container{
    text-align: center;
    color: rgb(46, 46, 46);
    margin-left: 0px;
    transition: margin-left 1s ease;
}

